<div class="fixed right-0 mr-10 mt-5 w-64 h-screen overflow-auto">
    <div class="w-full max-w-lg mx-auto bg-gray-800 rounded-lg shadow-xl">
        
        <div class="rounded-t-lg" 
             style="background-image: url('assets/img/cover.webp'); height: 100px; background-size: cover; background-position: center;">
        </div>
        
        <div class="text-center relative -mt-10">
            <span class="border-4 border-white rounded-full inline-block">
                <img class="rounded-full w-20 h-20" src="assets/img/profile.jpg" alt="profile" />
            </span>
        </div>
        
        <p class="text-center font-bold mt-2">big.enjineer</p>
        <p class="text-xs text-center mb-5">Professional Memer</p>
        <hr />
        
        <div class="flex justify-between px-10 py-5">
            <div class="text-center">
                <p class="font-bold">100K</p>
                <p class="text-xs">Followers</p>
            </div>
            <div class="text-center">
                <p class="font-bold">903K</p>
                <p class="text-xs">Following</p>
            </div>
            <div class="text-center">
                <p class="font-bold">104K</p>
                <p class="text-xs">Memes</p>
            </div>
        </div>
    </div>
</div>
